--- 
--- 

@import "{{ site.theme }}";

header h1:before {
    content: "";
}

.post-preview a{
    text-decoration: none;
}

.pager li:before{
    content: "";
}
.pager li{
    float: left;
    width: 200px;
}